/*
1. Misc
2. Objects
3. Positioning
4. Margin and Padding
5. Hovers
6. Flexes
*/

* {
  box-sizing: border-box;
}
body {
  background: #2c2831;
  color: #d5d4d6;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: #fa5c5c;
  border-radius: 8px;
}

.modalbackground {
  background-color: #2c2831;
}

.clearborder {
  outline: none;
  border-style: none;
}

.orangetext {
  color: #fa5c5c;
}

.scaleup125 {
  transform: scale(1.25);
}

/*
------------------------------------------------------------------
  OBJECTS
------------------------------------------------------------------
*/

.button {
  background: #2c2831;
  color: #fa5c5c;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.button--selected {
  background: #2c2831;
  color: #d5d4d6;
  cursor: pointer;
}

.button--override {
  color: #d5d4d6;
  cursor: default;
}

hr {
  border-color: #d5d4d6;
  padding: 3px !important;
  margin: 3px !important;
}

.heading {
  margin-top: 4px;
  margin-left: 0px;
}

.link {
  margin: 2px;
  padding: 2px;
  float: right;
  margin-left: 3px;
}

.outerbox {
  border-style: solid;
  border-width: 1px;
  border-color: #fa5c5c;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.plusminus {
  margin: 5px;
  padding: 5px;
  float: right;
  background: #2c2831;
  color: #fa5c5c;
  cursor: pointer;
}

.icon {
  background: #2c2831;
  color: #fa5c5c;
  cursor: pointer;
  transform: scale(1.5);
  margin-top: 16px;
  margin-left: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cardname {
  font-size: 28px;
  margin-left: 15px;
  padding: 5px;
}

/*
------------------------------------------------------------------
  POSITIONING
------------------------------------------------------------------
*/

.rightfloat {
  float: right;
  margin-left: auto;
}

.fullwidth {
  width: 100%;
}

.textwrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.maxwidth {
  width: fit-content;
}

.lefttoright {
  text-align: right;
}

/* 
-------------------------------------------------------------------
  MARGIN AND PADDING
-------------------------------------------------------------------
*/

.padded2px {
  margin: 2px;
  padding: 2px;
}

.padded5px {
  padding: 5px;
}

.pbottom5px {
  padding-bottom: 5px;
}

.margin5px {
  margin: 5px;
}

.mleft5px {
  margin-left: 5px;
}

.mleft12px {
  margin-left: 12px;
}

.mright12px {
  margin-right: 12px;
}

.mright15px {
  margin-right: 15px;
}

/*
-------------------------------------------------------------------------
  HOVERS
-------------------------------------------------------------------------
*/

a:hover {
  text-decoration: none;
  color: #d5d4d6;
}

button:hover {
  text-decoration: none;
  color: #d5d4d6;
}

.button:hover {
  text-decoration: none;
  color: #d5d4d6;
}

.icon:hover {
  text-decoration: none;
  color: #d5d4d6;
}

.button--selected:hover {
  text-decoration: none;
  color: #d5d4d6;
  cursor: default;
}

.outerbox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*
----------------------------------------------------------------------
  FLEXES
----------------------------------------------------------------------
*/

.flex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexgrow {
  flex: 1 1 0;
}

.flexgrow2 {
  flex: auto;
}

.flexgrow3 {
  flex: 2 0 0;
}
